$lilac: #cfc1ec;
$mint: #e9fff0;
$salmon: #ff8a70;
$white: #fefefe;
$black: #191919;
$shadow: #00000029;

.btn {
    align-self: center;
    display: inline-block;
    border: none;
    padding: 10px;
    margin-top: calc(5vh + 10px);
    border-radius: 5px;
    color: $white;
    box-shadow: 3px 3px 11px $shadow;
}

.btn--submit {
    background: $salmon;
}