extends layout

block content
    div(class="page register")
        div(class="brand")
            h1(class="brand__title") coins.
            p(class="brand__sub") collab
            p(class="brand__sub") appreciate
            p(class="brand__sub") learn
            p(class="brand__sub") earn
        div(class="dialog")
            h1(class="dialog__title") Sign in
            div(class="signup")
                label(for="username") Username
                input(type="text" class="signup__field" id="username")
                label(for="password") Password
                input(type="text" class="signup__field" id="repeatPassword")
                button(id="signup" class="btn btn__signup") Login
                span(class="switch__text") Don't have an account?
                a(href="/register" class="switch__link") Register