extends layout

block content
    div(class="page register")
        div(class="brand")
            h1(class="brand__title") coins.
            p(class="brand__sub") collab
            p(class="brand__sub") appreciate
            p(class="brand__sub") learn
            p(class="brand__sub") earn
        div(class="dialog")
            h1(class="dialog__title") Register
            p(class="dialog__sub") Receive 100 free tokens to get you started!
            div(class="signup")
            label(for="username") Username
            input(type="text" class="signup__field" id="username")
            label(for="email") Email
            input(type="text" class="signup__field" id="email")
            label(for="password") Password
            input(type="text" class="signup__field" id="repeatPassword")
            label(for="repeatPassword") Repeat password
            input(type="text" class="signup__field" id="repeatPassword")
            button(id="signup" class="btn btn__signup") Sign up
        div(class="switch")
            span(class="switch__text") Have an account?
            a(href="/login" class="switch__link") Sign in